<mat-sidenav-container class="h-full">
  <mat-sidenav mode="side" opened>
    <div
      class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6 pb-4"
    >
      <div class="flex h-16 shrink-0 items-center">
        <p>Angular Forms Ref</p>
      </div>
      <mat-nav-list class="flex flex-1 flex-col">
        <!-- <ul role="list" class="-mx-2 space-y-1"> -->
        <!-- <li> -->
        <!-- Current: "bg-gray-50 text-indigo-600", Default: "text-gray-700 hover:text-indigo-600 hover:bg-gray-50" -->
        <a
          mat-list-item
          *ngFor="let link of links"
          routerLink="{{ link.href }}"
          routerLinkActive="!bg-gray-50 !text-indigo-600"
          class="!text-gray-700 !hover:text-indigo-600 !hover:bg-gray-50 group rounded-md p-2 text-sm leading-6 font-semibold"
        >
          {{ link.name }}
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
